@keyframes loading {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.loading-indicator {
  width: 20px;
  height: 20px;
  fill: white;
  animation: loading 1s ease-in-out infinite;
}
