.content {
  background-color: rgba(40, 44, 52, 0.25);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 18pt;
}

.content.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content.error {
  margin-top: 5px;
  max-width: calc(100vw - 360px);
}

.content.error .header {
  font-size: 16pt;
  color: #fff;
}

.content.error .description {
  font-size: 10pt;
  color: #aaa;
}

.content.error .description .raw {
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  line-height: 18pt;
}

.apps {
  width: calc(100vw - 360px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.apps.folder-apps {
  width: calc(100vw - 30px);
}

.app {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: unset;
  color: #aaa;
  margin: 10px;
  width: 25vw;
  min-width: 360px;
  min-height: 150px;
  cursor: pointer;
  font-size: 12pt;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app.disabled {
  cursor: not-allowed;
}

.app.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.app .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  opacity: 0.15;
  display: none;
}

.app:hover .background {
  display: block;
}

.app .header,
.app-launch-form .header{
  font-size: 24pt;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.app .header .name,
.app-launch-form .header .name {
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app.app-folder {
  padding: 10px;
}

.app.app-folder {
  min-height: 100px;
  height: unset;
}

.app.app-folder .header .name {
  flex: 1;
  font-size: smaller;
}

.app .header .icon,
.app-launch-form .header .icon {
  max-height: 45px;
  margin: 0 10px;
  height: 100%;
}

.app.app-folder .layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.app.app-folder .layout .icon {
  margin: 0 10px 0 0;
  max-height: 100px;
  border-radius: 5px;
}

.app.app-folder .layout .layout-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}

.app.app-folder .layout .layout-column .header {
  margin: 0;
}

.app.app-folder .layout .layout-column .header .name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.app .version,
.app-launch-form .version {
  margin-left: 5px;
  font-size: 12pt;
  margin-top: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.app:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ddd;
}

.app.dark:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.app:hover .header .name {
  color: #fff;
}

.app .app-description,
.app-launch-form .app-description {
  font-size: 11pt;
  color: #ddd;
}

.app.app-folder .app-description {
  line-height: 1rem;
  max-height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.app .app-owner {
  font-size: small;
  margin: 5px 0 0;
  color: #aaa;
}

.app .app-owner .attributes {
  display: flex;
  flex-wrap: wrap;
}

.app .app-owner .attributes .user-attribute {
  margin-right: 5px;
}

.app .description {
  font-size: 10pt;
  color: #aaa;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.app-info {
  position: relative;
  max-width: calc(100vw - 360px);
  display: flex;
  flex-direction: column;
}

.app .app-settings {
  position: absolute;
  right: 5px;
  top: 5px;
}

.app-settings .gear-container {
  position: relative;
}

.app-settings .gear-container .gear {
  color: #999;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-settings .gear-container .gear > svg{
  fill: #999;
}

.app-settings .gear-container .gear:hover {
  color: #ccc;
  text-decoration: underline;
}

.app-settings .gear-container .gear:hover > svg {
  fill: #ccc;
}

.app-settings .gear-container .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
}

.app-settings .gear-container .overlay.visible {
  display: block;
}

.app-settings .gear-container .popup {
  display: none;
  position: absolute;
  right: 0;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border: 1px solid #333;
  z-index: 2;
  line-height: 30px;
  box-shadow: 0 0 10px 0 #000;
  font-size: smaller;
}

.popup .node-size-setting {
  font-weight: normal;
  color: #aaa;
  padding: 2px 5px;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
}

.popup .node-size-setting:hover {
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.05);
}

.popup .node-size-setting:last-child {
  border-bottom: none;
}

.app-settings .gear-container .popup.visible {
  display: block;
}

.app-info .header {
  font-size: 24pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 60px;
}

.app-info .header .icon {
  height: 60px;
  margin-right: 5px;
}

.app-info .header .name {

}

.app-info .header .version {
  font-size: 14pt;
  margin-top: 10px;
  color: #aaa;
  margin-left: 5px;
}

.app-info > * {
  margin: 10px 0;
}

.timer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 70px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.5);
}

.app-launch-form {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: unset;
  color: #aaa;
  margin: 10px;
  max-width: 90vw;
  font-size: 12pt;
  position: relative;
}

.app-launch-form.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.app-launch-form .divider,
.app-launch-form .setting-divider {
  height: 1px;
  margin: 5px 0;
}

.app-launch-form .divider {
  background-color: rgba(0, 0, 0, 0.25);
}

.app-launch-form .setting-divider {
  background-color: rgba(0, 0, 0, 0.15);
}

.app-launch-form .header .launch {
  margin-left: auto;
  font-size: 14pt;
}

.button {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 20px;
  color: #eee;
  line-height: unset;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.app-launch-form .setting {
  display: flex;
  align-items: flex-start;
  line-height: 40px;
  margin: 5px;
}

.app-launch-form .setting .setting-title {
  width: 150px;
  color: #ddd;
}

.app-launch-form .setting .setting-value {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.app-launch-form .setting-divider:last-child {
  display: none;
}

.app-launch-form .setting-value.radio .value {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px 5px;
  color: #eee;
  line-height: unset;
  cursor: pointer;
  margin-right: 10px;
  min-width: 100px;
  text-align: center;
  margin-bottom: 5px;
}

.app-launch-form .setting-value.radio .value:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.app-launch-form .setting-value.radio .value.selected,
.app-launch-form .setting-value.radio .value.selected:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #333;
}

.extended-setting-presentation {
  font-size: 9pt;
  margin-right: 5px;
}

.app-settings .setting .setting-title {
  color: #ddd;
  margin-bottom: 1px;
  padding-left: 5px;
}

.app-settings .setting-divider:last-child {
  display: none;
}

.app-settings .setting-value.radio .value {
  color: #eee;
  line-height: unset;
  cursor: pointer;
  padding-left: 10px;
  margin-bottom: 1px;
}

.app-settings .setting-value.radio .value:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.app-settings .setting-value.radio .value.selected,
.app-settings .setting-value.radio .value.selected:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #333;
}

.content.stop-run {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  padding: 10px;
  max-width: 33vw;
}

.content.stop-run .description {
  margin: 0 0 10px 0;
}

.stop-run-actions {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.stop-run-actions .button {
  min-width: 100px;
  text-align: center;
}

.app-session-info {
  padding: 2px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.app-session-info .clear-session-info-link {
  color: #999;
}

.app-session-info:hover .clear-session-info-link {
  color: #ccc;
  text-decoration: underline;
}

.settings-main-divider {
  height: 1px;
  background-color: #777;
  margin: 3px 1px;
}

.no-link {
  text-decoration: none;
}

.app.app-folder:not(.published) {
  background-color: rgba(0, 0, 0, 0.125);
}

.app.dark.app-folder:not(.published) {
  background-color: rgba(0, 0, 0, 0.25);
}

.app-folder .folder-app-actions-container {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.app-folder .folder-app-actions-container .folder-app-action {
  color: #999;
  display: block;
}

.app-folder .folder-app-actions-container .folder-app-action:hover {
  color: #ddd;
}

.app-folder .folder-app-actions-container .folder-app-action svg {
  stroke: currentColor;
}

.app-folder .folder-app-gear {
  fill: currentColor;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-folder .folder-app-gear:hover {
  text-decoration: underline;
}

.app-folder .folder-app-star > svg {
  stroke: currentColor;
  fill: rgba(255, 255, 255, 0.15);
}

.app-folder .folder-app-star:hover {
  color: #ccc;
}

.app-folder .folder-app-star.favourite {
  color: goldenrod;
}

.app-folder .folder-app-star.favourite:hover {
  color: gold;
}

.app-folder .folder-app-star.favourite > svg {
  fill: rgba(255, 162, 0, 0.5);
}

.app-folder .folder-app-star.favourite:hover > svg {
  fill: rgba(255, 162, 0, 0.75);
}
